[v-cloak] {
    display: none;
}

body {
    font-family: "Verdana", sans-serif;
    font-size: 0.9em;
}

#app {
    margin: 10px 20px;
}

#calendar {
    position: absolute;
    top: 60px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.day {
    display: block;
    float: left;
    width: 14.25%;
    height: 16.2%;
    border: 1px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 5px;
    overflow-y: hidden;
}

.event {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 2px;
    margin-bottom: 2px;
    padding: 1px 5px;
}

.event .date {
    font-weight: bold;
}

.event.fullDay {
    font-weight: bold;
}

.event.hidden {
    display: none;
}

.day {
    background: lightgray;
}

.day.currentMonth {
    background: white;
}

.day.currentDay {
    background: rgba(221, 92, 82, 0.68);
}

.dayNumber {
    width: 10px;
}

#header .day {
    background: darkgray;
    color: white;
    text-align: center;
    font-weight: bold;
    overflow-x: hidden;
    line-height: 1em;
    height: 1.8em;
    vertical-align: middle;
}

.loadingIndicator {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    font-size: 5em;
}

.loadingIndicator .background {
    background: #444;
    opacity: 0.95;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.loadingIndicator svg {
    background: white;
    border-radius: 900px;
    padding: 10px;
    box-shadow: 0 0 10px gray;
    display: inline-block;
    margin-top: 10%;
}

#top #month {
    font-weight: bold;
    font-size: 1.7em;
    vertical-align: middle;
}

#eventDetails th {
    width: 30px;
    padding-right: 0;
    margin-right: 0;
}

#eventDetails .date-inline {
    display: inline-block;
    text-align: center;
    padding-right: 20px;
}

.date-inline.date-arrow {
    font-size: 1.5em;
}

#eventDetails .modal-body {
    padding-top: 0;
}

#eventDetails .table > tbody > tr:first-child > td,
#eventDetails .table > tbody > tr:first-child > th {
    border: none;
}

.desktop-only {
    display: unset;
}

.mobile-only {
    display: none;
}

.dayNumber {
    font-weight: bold;
}

#box-login-button {
    text-align: right;
}

#top .row {
    justify-content: space-between !important;
}

@media only screen and (max-width: 767px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: unset;
    }

    .event .summary {
        margin-left: 5px;
    }

    .day {
        float: none;
        width: 100%;
        min-height: 70px;
    }

    .dayNumber {
        width: 6em;
        display: inline-block;
    }

    .dayHeader {
        display: block;
        padding: 2px 2px 2px 10px;
        margin: -5px -5px 5px;
        color: black;
        font-weight: bold;
        background: darkgray;
    }

    #calendar {
        margin-bottom: 30px;
        position: absolute;
        bottom: auto;
        top: auto;
        margin-top: 20px;
    }

    #box-login-button {
        order: 1;
        float: left;
        display: inline-block;
        margin-bottom: 10px;
        text-align: left;
        width: auto;
    }

    #box-date-buttons {
        order: 2;
        float: left;
        display: inline-block;
        width: auto;
    }

    #box-month-name {
        order: 3;
    }

    #top {
        display: flex;
        justify-content: left;
    }

    #top .row {
        justify-content: initial !important;
    }

    .modal-open .tooltip {
        display: none;
    }
}

@media only screen and (hover: none) {
    .modal-open .tooltip {
        display: none;
    }
}