parameters:
  calendar_language: '%env(CALENDAR_LANGUAGE)%'
  calendar_urls: '%env(CALENDAR_URLS)%'
  calendar_names: '%env(CALENDAR_NAMES)%'
  calendar_colors: '%env(CALENDAR_COLORS)%'
  calendar_passwords: '%env(CALENDAR_PASSWORDS)%'
  calendar_cache_ttl: '%env(CALENDAR_CACHE_TTL)%'