body {
    font-family: "Verdana", sans-serif;
}

.loginform {
    float: left;
    position: fixed;
}

h3 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.calendar {
    right: 10px;
    left: 10px;
    top: 4em;
    bottom: 10px;
    position: fixed;
    font-size: 0.8em;
}

.column {
    box-sizing: border-box;
    width: 14.3%;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid black;
    padding: 2px;
    float: left;
    background-color: #fff;
}

.dayname {
    font-weight: bold;
    background-color: #777;
    text-align: center;
    color: white;
}

.day {
    height: 16.2%;
    overflow-x: hidden;
    overflow-y: auto;
}

.day.disabled {
    background: #ddd;
    color: gray;
}

.day .date {
    display: block;
}

.day .event {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 3px;
    margin-bottom: 1px;
}